---
import Layout from '@layouts/Layout.astro'
---

<Layout title='Mi portafolio' description='Portafolio de Erick González Pérez, desarrollador Full Stack'>
  <h1>Empezando portafolio</h1>
</Layout>
