---
import Layout from '@layouts/Layout.astro'
---

<Layout title='Mi portafolio' description='Portafolio de Erick González Pérez, desarrollador Full Stack'>
  <h1 class='text-4xl text-gray-700 font-bold text-center py-10'>Empezando portafolio con tailwindcss</h1>
</Layout>
